<footer class="main-footer">
    <div class="footer-wrap">
        
        <div class="footer-logo">
            <div class="footer-logo__in">
                <a href="#"><img src="images/technal_logo.png" alt="Technal logo"></a>
                <div class="slogan">The world looks better</div>
            </div>
        </div>

        <div class="footer-column">
            <nav class="footer-nav">
                <ul>
                    <li><a href="#">Copyright</a></li>
                    <li><a href="#">Some item</a></li>
                    <li><a href="#">Another item</a></li>
                </ul>
            </nav>
        </div>

        <div class="main-footer__text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat est soluta sit recusandae distinctio ea doloribus odio aliquid vero laudantium fugiat, illum placeat repellendus quisquam! Cupiditate porro voluptas, animi commodi?</p>
        </div>
    </div>

</footer>
@@include('scripts.html')