$site-background: #fff;
$font-color: #333;
$link-color: #0072cf;
$visited-link-color: #662d91;
$em-base: 14px;

$main-width: 940px;

$mobile: "(max-width: 580px)";
$bigs: "(min-width: 581px)";
$tablet: "(min-width: 581px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px)";
$device: "(max-width: 1024px)";
