@@include('./modules/head.html')

<body>
    @@include('./modules/old-ie.html')
        <div class="mainwrap">
            @@include('./modules/header.html')

            <div class="content-wrap">
                <h3>Links to existing pages</h3>

                <ul>
                    <li><a href="frontpage.html">Front page 1</a></li>
                    <li>ITEM 1
                        <ol>
                            <li><a href="home2.html">Home page</a></li>
                            <li><a href="gallery-private.html">Gallery</a></li>
                            <li><a href="contacts.html">Contacts</a></li>
                            <li><a href="catalog-order.html">Catalog Order</a></li>
                            <li><a href="subscription.html">Subscription</a></li>
                        </ol>
                    </li>
                    <li>ITEM 2
                        <ol>
                            <li><a href="home.html">Home page</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="search.html">Search</a></li>
                            <li><a href="user.html">Subscription</a></li>
                            <li><a href="product.html">Product page</a></li>
                            <li><a href="documents.html">Documents Page</a></li>
                            <li><a href="news-list.html">News list page</a></li> 
                        </ol>
                    </li>
                </ul>

            </div>

            @@include('./modules/footer.html')

        </div>
</body>
</html>